.gitignore
.DS_Store

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# vim specific
.*.sw*

# test specific
*.actual.*
*.actual
**/golden
**/graphs
*.check

# python specific
**/__pycache__

